.main{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-image: url("../../../images/Alex_pic.png");
    background-size: cover;
    position: fixed;
    top: 0px;
    z-index: -10;
}


.center {
    padding-top: 17%;
}

@media only screen and (max-width: 992px){
    .center {
        margin-top: 15%;   
    }
}

.name{
    color: var(--Main-white);
    font-size: 65px;
    letter-spacing: 1vw;
}


.description{
    color: var(--Main-white);
    letter-spacing: 1.5vw;
}


.linkbar{
    list-style: none;
    padding-top: 20vh;
}


@media only screen and (max-width: 992px){
    .linkbar{
        padding-top: 10vh;
    }
}

.imageLinkHolder{
    width: max-content;
}

.BotImgLink{
    width: 5vh;
    margin-left: calc(100% / 6);
    margin-right: calc(100% / 6);
    cursor: pointer;
}


.SideImgLink{
    padding-bottom: 1vh;
    width: 2vw;
}




.readMoreContainer{
    margin: auto;
    width: 7VW;
    text-align: center;
    align-content: center;
}



.readMoreContainer{
    position: relative;
    top:-1vw;
}
.readMoretext{
    color: var(--Main-white);
    font-size: 24px;
}

.readMorearrow{
    width: 100%;
}

.ArrowImageHolder
{
    width: 60%;
    margin: auto;
    margin-top: 2vh;
    height: 8vh;
}

/*
.ArrowImageHolder:hover
{
    cursor: pointer;
}
saved for auto scroll impliment
*/

.arrowList{
    padding-left: 0;
    list-style: none;
}

.arrow2{
    position: relative;
    top:-55px;
}



@media only screen and (max-width: 992px){
    .readMoreContainer{
        padding-top: 7vh;
    }

    .ArrowImageHolder
    {
        width: 60%;

    }

    .readMoreContainer{
        width: 30VW;

    }

    .readMoretext{
        font-size: 20px;
    }

    .arrow2{
        position: relative;
        top:-45px;
    }
    
}