.main{
    background-color: var(--Main-white);

}

.sectionContainer{
    padding-top: 14vh;
    padding-bottom: 14vh;
}

.carousel-item { 
    width: 50%; 
  }

.carouselContainer div div div img{
    width: 100%;
}

.aboutMeContainer{
    padding-top: 30px;
}

.aboutMeTitleContainer{
    text-align: center;
}

.aboutMeTitle{
    font-size: 28px;
    font-weight: bold;
}

.aboutMePar{
    font-size: 14px;
    text-align: justify;
}

@media only screen and (min-width: 992px){
    .carouselContainer{
        padding-top: 20%;
    }
}
