
.ResumeViewer_pdf_image_container__3xG1g{
    width: 100% !important;
}
.pdf_image_container{
    margin-top: 100px;
}

@media only screen and (min-width: 992px) {

    .pdf_image_container {
        margin-left: 15%;
        margin-Right: 15%;
        
    }
}

