.main{
    width: 100%;
    height: auto;
    background-color: var(--Main-white);
    margin-top: 100vh;
}


.container{
    padding-top: 50px;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 70px;;
}

.aboutMeCol{
    text-align: center;
    font-size:30px;
    color: var(--Main-black);
    font-weight: bold; 
}

.sumtext{
    font-size: 24px;
    color: var(--Main-black);
}

@media only screen and (max-width: 992px){
    .sumtext {
        padding-top: 40px;   
    }
}


.headshotImg{
    height: 30vh;
    border-radius: 50%;
    z-index: 0;
}

.headshotCol{
    text-align: center;
}