.post_center{
    padding-top: 200px;
    margin: auto;
    width: 60%;
    min-height: 90vh;
}

.link
{
    border-radius: 20px;
    outline: black 1px solid;
    min-height: 50px;
    margin: 10px 0px 10px 0px;
}


.title
{
    font-size: 3vh;
    font-weight: 700;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description
{
    color: black;
    font-size: 2vh;
    font-weight: 400;
    padding-top: 10px;
}

.date
{
    font-size: 1.75vh;
    font-weight:200;
    padding-top: 7px;
    color: gray;
}