.container{
    margin-top: 96px;
}

.title{
    margin: auto;
    font-size: 3.5vh;
    text-align: center;
    margin-bottom: 20px;
}

.para{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content{
    font-weight: 480;
    margin: auto;
}

.header_image{
    width: 100%;
}

/* desktop */
@media only screen and (min-width: 770px){

    .content{
        max-width: 50vw;
    }

}

/*mobile*/
@media only screen and (max-width: 769px){

    .content{
        max-width: 90vw;
    }


}
