.container{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.navbarNorm{
    background-color: var(--Main-light-gray) !important;
}



.brand{
    color: var(--Main-white) !important;
    padding-left: 20vw;
}



.link{
    color: var(--Main-white) !important;
    margin-left: 2vw;
}

.link:hover{
    color: var(--Main-dark-gray) !important;
}


.git{
    color: var(--Main-white) !important;
    margin-right: 20vw;
}

.git:hover{
    color: var(--Main-blue) !important;
}




@media only screen and (max-width: 767px){
    .brand{
        padding-left: 0px;
    }
}



/*-----------When not at top -------------*/
.navbarTop{
    background-color: var(--Main-light-gray) !important;
}

@media only screen and (min-width: 769px){
    .navbarTop{
        background-color: transparent !important;
        height: 90px;
        transition: height 0.2s;
    }


    .navbarNorm{
        background-color: var(--Main-light-gray) !important;
        height: 56px;
        transition: 0.2s;
    }
    
}



