.container{
    position: fixed;
    width: 100%;
    top: 0px;
}

.navbar{
    background-color: var(--Main-light-gray) !important;
}

.brand{
    color: var(--Main-white) !important;
}


.link{
    color: var(--Main-white) !important;
}

.link:hover{
    color: var(--Main-dark-gray) !important;
}


.git{
    color: var(--Main-white) !important;
}

.git:hover{
    color: var(--Main-blue) !important;
}