.container{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.navbarNorm{
    background-color: var(--Main-light-gray) !important;
    height: 56px;
    transition: 0.2s;
}

.brand{
    color: var(--Main-white) !important;
    padding-left: 20vw;
}

@media only screen and (max-width: 767px){
    .brand{
        padding-left: 0px;
    }
}

.link{
    color: var(--Main-white) !important;
    margin-left: 2vw; /* chaneg to closer when moving down */
}

.link:hover{
    color: var(--Main-dark-gray) !important;
}


.git{
    color: var(--Main-white) !important;
    margin-right: 20vw;
}

.git:hover{
    color: var(--Main-blue) !important;
}


/*-----------When not at top -------------*/


.navbarTop{
    background-color: transparent !important;
    height: 90px;
    transition: height 0.2s;
}

