.main{
    background-color: var(--Main-black);
}

.ListContainer{
    background-color: transparent;
    padding-top: 35px;
    padding-bottom: 30px;
}

.itemText{
    color: var(--Main-light-gray);
}




@media only screen and (max-width: 992px){

}
