.main{
    background-color: var(--Main-dark-gray);
}

.descriptText{
    color: var(--Main-white);
    font-size: 18px;
}

.titleText{
    color: var(--Main-white);
    font-size: 24px;   
}





.sectionHeader{
    color: var(--Main-white);
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold; 
}

.techsContainer{
    padding-top: 50px;
    padding-bottom: 50px;
}

.summaryText{
    color: var(--Main-white);
    text-align: 14px;
}

.summaryContainer{
    text-align: center;
}

.inlineLink{
    color: var(--Main-white);
    text-decoration: underline;
}




@media only screen and (max-width: 992px){
    .titleText{
        padding-top: 30px;;
    }

    .listHolder{
        width: 65%;
        margin: auto;
    }

    .titleText{
        color: var(--Main-white);
        font-size: 30px;
        font-weight: bold;  
    }
}
